
<section class="home">
<form class="st" action="/artist-search" method="GET">
  <label for="artist" ></label>
  <input placeholder="Enter Artist" type="text" id="artist" name="artist" required class="input"/><br>
  <button type="submit" class="sb-btn">Suchen</button>
</form>
</section>

