<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/style.css">
    </head>
    <body>
        <section>
        <main class="search">
            {{{body}}}
        </main>
        </section>
       
    </body>
</html>